$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(186, 186, 186);


body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  margin: 50px;
}


#search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2em;

  input {
    font-size: 1.5em;
    border-radius: .25em;
    width: 20em;
  }
  div{
      width:5em;
      height:4em;
      margin-right: 3em;
      background-image: url('img/logo.png');
      background-repeat: no-repeat;
      background-size: contain;

  }
}

#video-detail {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  background-color: whitesmoke;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, .2);
  margin-bottom: 10em;
}

#video-section {
  display: flex;

  li {
    font-size: 0.85em;
    list-style: none;
    cursor: pointer;
    display: flex;
    width: 25vw;
    padding: 10px;

    img{
        margin-right: 0.7em;
    }
  }
  li:hover {
    background: darken( $backgroundcolor, 10% );
  }

}

#videoTitle{
    font-size:1.5em;
    font-weight: 600;
    margin: 0.5em 0em;
}


.gifStyle{
    padding:0em;
    margin:0em;
}


#gif-section{
    display: flex;
    margin-bottom: 10em;

  ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0em;
    padding:0em;
    justify-content: center;
  }
}

#jokeBoxStyle{
    cursor: pointer;
    width:100%;
    height:15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid 0.5em rebeccapurple;
    background-color: whitesmoke;
}

#loadingVideo{
    width:100%;
    height:30em;
    font-size:1.5em;

}
